.box-parent
{
    display: grid;
    place-items: center;
    height: 100vh;
}
.box
{
    width: 400px;
    border-radius: 6px;
    padding: 20px;
    background-color: #000036;
}
.taskButton
{
    background-color: #8a32f5;
    border-radius: 0;
    transform: translateY(-3px);
}
.taskButton:hover
{
    background-color: #6e20cd; 
}
#addTask
{
    height: 38px;
    border: 1px solid #8a32f5;
    background-color: inherit;
}