.box-parent
{
    display: grid;
    place-items: center;
    height: 100vh;
}
.box
{
    max-width: 400px;
    border-radius: 6px;
    padding: 20px;
    background-color: #000036;
}
.taskButton
{
    background-color: #8a32f5;
    border-radius: 0;
    transform: translateY(-3px);
}
.taskButton:hover
{
    background-color: #6e20cd; 
}
#addTask
{
    height: 38px;
    border: 1px solid #8a32f5;
    background-color: inherit;
    outline: none;
}
.item
{
    background-color: #8a32f5;
    padding: 8px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
}
.item span
{
    margin-top: 8px;
}